#checkout {
    padding-bottom: 80px;
    background-color: #ffffff;
    a {
        font-size: 14px;
        text-decoration: none;
    }

    .checkout__title {
        .title {
            padding: 80px 0 40px 0;
            h2 {
                font-size: 3.2rem;
                margin-bottom: 10px;
                text-transform: capitalize;
            }
        }

        .accordion {
            .accordion__tologin,
            .accordion__coupon {
                background-color: #f7f6f7;
                border-top: 3px solid #1e85be;
                color: #515151;
                font-size: 1.2rem;
                font-weight: 300;

                padding: 1em 2em 1em 3.5em;
                position: relative;
                width: auto;

                &::before {
                    color: #1e85be;
                    content: "";
                    display: inline-block;
                    font-family: fontawesome;
                    left: 1.5em;
                    position: absolute;
                    top: 1em;
                }

                .accordion__showlogin {
                    cursor: pointer;
                    color: $seconColor;
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }

            .accordion__login-form {
                font-weight: 400;
                font-size: 1.4rem;
                max-height: 0;
                overflow: hidden;
                transition: max-height 1s ease-out;
                margin-top: 20px;

                form {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 1s ease-out;
                    border: 1px solid #e5e5e5;
                    padding: 20px;

                    .titile__form {
                        margin-bottom: 15px;
                    }

                    .username,
                    .password {
                        label {
                            display: block;
                            margin-bottom: 8px;
                        }

                        input {
                            border: 1px solid #e5e5e5;
                            height: 36px;
                            margin: 0 0 14px;
                            max-width: 100%;
                            padding: 0 0 0 10px;
                            width: 370px;
                        }

                        span {
                            color: red;
                        }
                    }

                    .sub {
                        .btn--login {
                            padding: 15px;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #f7f6f7;
                            background-color: #252525;
                            border: none;

                            &:hover {
                                background-color: $primaryColor;
                            }
                        }

                        input {
                            margin: 3px;
                        }

                        label {
                            text-transform: capitalize;
                            cursor: pointer;
                            user-select: none;
                            transform: translateY(-1px);
                        }
                    }

                    .lost-password {
                        padding: 20px 0 10px;
                    }
                }
            }
        }

        .accordion__showcoupon {
            cursor: pointer;
            color: #fe8802;
            &:hover {
                color: $primaryColor;
            }
        }

        .accordion__formcoupon {
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease-in;
            margin-bottom: 20px;

            .coupon__form {
                padding: 30px 0 30px;
                display: flex;
                max-height: 0;
                overflow: hidden;
                transition: max-height 1s ease-in;

                input {
                    padding: 1px 2px 3px 10px;
                    width: 170px;
                    height: 36px;
                    margin-right: 5px;
                    font-size: 14px;
                }

                button {
                    padding: 5px 10px;
                    height: 36px;
                    border: none;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: white;
                    background-color: #252525;
                    &:hover {
                        background-color: $primaryColor;
                    }
                }
            }
        }
    }

    .checkout__form--billing,
    .shiptoaddress {
        .form__billing--title {
            border-bottom: 1px solid #e5e5e5;
            font-size: 30px;
            margin: 0 0 20px;
            padding-bottom: 10px;
            text-transform: uppercase;
        }

        .form__billing,
        .shiptoaddress__form {
            label {
                color: #333;
                display: block;
                font-size: 1.3rem;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 8px;
            }

            input,
            select {
                background: #fff none repeat scroll 0 0;
                border: 1px solid #e5e5e5;
                border-radius: 0;
                height: 42px;
                padding: 0 0 0 10px;
                margin-bottom: 30px;
                width: 100%;
                font-size: 1.3rem;
            }

            span {
                color: red;
            }

            .name,
            .state,
            .email--phone {
                @media only screen and (min-width: 767px) {
                    display: flex;
                    justify-content: space-between;
                    div {
                        &:first-child {
                            padding-right: 12px;
                        }

                        &:last-child {
                            padding-left: 12px;
                        }
                    }
                }
            }
        }
    }

    .create__account {
        font-size: 1.3rem;

        .create__account--checkbox {
            display: flex;
            margin-bottom: 30px;
            label {
                font-weight: 700;
                margin-left: 15px;
                text-transform: inherit;
                cursor: pointer;
                &:hover {
                    color: $seconColor;
                }
            }
        }

        .create__account--form {
            margin-bottom: 30px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease-in;
            .account__form--title {
                color: #777;
                margin-bottom: 8px;
            }

            .account__form {
                label {
                    display: block;
                    font-weight: 700;
                    margin-bottom: 8px;
                }

                span {
                    color: red;
                }

                input {
                    background: #fff none repeat scroll 0 0;
                    border: 1px solid #e5e5e5;
                    border-radius: 0;
                    height: 42px;
                    padding: 0 0 0 10px;
                    width: 100%;
                }
            }
        }
    }

    .shiptoaddress__form {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1s ease-in;
    }

    .shiptoaddress__checkbox {
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;

        label {
            font-size: 1.9rem;
            font-weight: 700;
            margin-right: 30px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                color: $seconColor;
            }
        }
    }

    .note {
        margin-bottom: 30px;
        h3 {
            font-size: 1.3rem;
            text-transform: capitalize;
            font-weight: 700;
            margin-bottom: 8px;
        }

        textarea {
            font-size: 1.3rem;
            width: 100%;
            padding: 15px;
        }
    }

    .checkout__table--order {
        background-color: #f2f2f2;
        margin-bottom: 50px;
        padding: 30px 40px 45px;

        h2 {
            border-bottom: 1px solid #d8d8d8;
            font-size: 3rem;
            margin: 0 0 20px;
            padding-bottom: 10px;
            text-transform: uppercase;
            width: 100%;
            color: #252525;
        }
    }

    .table__order {
        table {
            font-size: 14px;
            border: medium none;
            width: 100%;

            th,
            td {
                border-bottom: 1px solid #d8d8d8;
                border-right: medium none;
                font-size: 14px;
                padding: 15px 0;
                text-align: center;
                color: #777;
            }

            th {
                text-transform: capitalize;
            }

            li {
                margin-bottom: 5px;
                text-align: left;

                @media only screen and (max-width: 992px) {
                    text-align: center;
                }
            }

            .order-total {
                td {
                    &:last-child {
                        color: #ec4445;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .payment__accordion {
        margin-bottom: 30px;
        .collapsible {
            color: $textColor;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            img {
                width: 101px;
                height: 35px;
                margin-left: 5px;
            }
        }

        .collapsible::before {
            content: "\002B";
            color: white;
            font-weight: bold;
            float: left;
            margin-right: 10px;
            background-color: #252525;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
        }

        .active::before {
            content: "\2212";
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
            font-size: 1.3rem;
            text-align: justify;
        }

        .paypal {
            display: flex;
            align-items: center;
        }
    }

    .method__payment--btn {
        background: #ec4445 none repeat scroll 0 0;
        border: medium none;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        height: 50px;
        margin: 20px 0 0;
        padding: 0;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        width: 100%;

        &:hover {
            background-color: $primaryColor;
        }
    }
}

#btn-go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    &.show {
        display: block;
    }
}

#btn-go-to-top:hover {
    background-color: $primaryColor;
}
