#holder {
    display: flex;
    img {
        height: 170px!important;
        margin-right: 10px;
        width: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
}